
{% for line in lines %}

** {% if line.from.username is none %}{{ line.from.username }}{% else %}{{ line.from.print_name }}{% endif %} **
::
{% if line.text is defined %}
{{ line.text|indent(4, True) }}
{% else %}
    some element
{%- endif %}
{% endfor %}

